<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>I'm Bored</title>
</head>

<style>
    @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Lobster&family=Open+Sans:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&family=Poppins:wght@300;400;800&family=Roboto:ital,wght@0,500;0,700;1,400;1,500;1,700&display=swap');
  </style>
<body>
  <div class="container">
    <h1>Bucks💲: Live Foreign Exchange</h1>

    <form action="/submit" id="form" class="form" method="POST">
      <input type="text" name="base" placeholder="base">
      <input type="text" name="currencies" placeholder="Currencies">
      <button type="submit" class="form-submit">Convert</button>
    </form>
    <section id="cards" class="cards">
      <% if (locals.data && locals.data.success) { %>
        <article class="card-item">
          <h2 class="card-activity">
            <%= locals.data.base %>
            <%= locals.data.rates.length %>

          </h2>
          <div class="card-info">
            <span class="card-type">
              <!-- Check if rates property exists before accessing -->
              <p>Number of currencies: <%= Object.keys(locals.data.rates).length %></p>

              <% if (locals.data.rates && Object.keys(locals.data.rates).length > 0) { %>
                <ul>
                  <% for (const [currency, rate] of Object.entries(locals.data.rates)) { %>
                    <li><%= currency %>: <%= rate %></li>
                  <% } %>
                </ul>
                <h3>Thank you</h3>
              <% } else { %>
                <p>No rates available.</p>
              <% } %>
              
            </span>
      
          </div>
        </article>
      <% } else if (locals.error) { %>
        <div id="tag-error" class="tag-error">
          <%= locals.error.message %>
        </div>
      <% } else { %>
        <!-- Handle other cases if needed -->
        <div id="tag-error" class="tag-error">
          
        </div>
      <% } %>
      
      
    </section>
  </div>

</body>
<footer>
  <p><h2>Creator: Yagnesh Pasam</h2><br>
    <a href="https://twitter.com/intent/tweet?text=Check%20out%20@YagneshPasam%27s%20live%20e-currency%20exchange%20API,%20built%20on%20February%205,%202024.%20%23CurrencyExchange%20%23API" target="_blank">
      Tweet
    </a>
  <a href="https://github.com/yagnesh2004/forexrate.git">Github-repo</a></p>
</footer>


</html>
